/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }


  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }

  /* ==========================================================================
     Author's custom styles
     ========================================================================== */


  body {
    width: 100%;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
    font-family: "unbuntu", "sans-serif";
  }

  .displayFlex {
    display: flex;

  }


  .page__header {
    justify-content: center;
    align-items: end;
  }

  .header__heading {
    display: none;
  }

  .main__section {
    margin: 0 auto;
    text-align: center;
  }

  /* page__header */
  .header__title {
    width: 185px;
    margin-right: 90px;
  }



  /* header__nav */
  .header__nav {
    width: 680px;
  }

  .nav__list {
    width: 100%;
  }

  .nav__list__item {
    position: relative;
    text-align: left;
    width: 136px;
    height: 115px;
  }

  .nav__list__item:first-child {
    background: #25c389;
  }

  .nav__list__item:nth-child(2) {
    background: #ffb901;
  }

  .nav__list__item:nth-child(3) {
    background: #de6262;
  }

  .nav__list__item:nth-child(4) {
      background: #1691bd;
  }

  .nav__list__item:last-child {
      background: #166ba2;
  }

  .nav__list__item__link {
    color: #fff;
    font-size: 9px;
    height: 100%;
  }

  .nav__list__item__link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 20PX;
    font-family: FontAwesome;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    transform: translate(-50%, -50%);
  }

  .nav__list__item:first-child .nav__list__item__link::before {
    content: "\f015";
    background: #56caa3;
  }

  .nav__list__item:nth-child(2) .nav__list__item__link::before {
    content: "\f015";
    background: #ffc634;
  }

  .nav__list__item:nth-child(3) .nav__list__item__link::before {
    content: "\f015";
    background: #e78383;
  }

  .nav__list__item:nth-child(4) .nav__list__item__link::before {
    content: "\f015";
    background: #42a9cc;
  }

  .nav__list__item:last-child .nav__list__item__link::before {
    content: "\f015";
    background: #4589b8;
  }

.nav__list__item__link > span {
  position: absolute;
  left: 17px;
  bottom: 17px;
}



  /* header__hamburger */
  .header__hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    background: #4092b5;
  }
  .header__hamburger span {
    display : block;
    position: absolute;
    width: 27px;
    height: 4px;
    left: 8px;
    background : #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition   : 0.5s ease-in-out;
    transition        : 0.5s ease-in-out;
  }
  .header__hamburger span:nth-child(1) {
    top: 10px;
  }
  .header__hamburger span:nth-child(2) {
    top: 20px;
  }
  .header__hamburger span:nth-child(3) {
    top: 30px;
  }

  /* when the menu is open */
  .header__hamburger.active span:nth-child(1) {
    top : 19px;
    left: 8px;
    /* background : #fff; */
    -webkit-transform: rotate(315deg);
    -moz-transform   : rotate(315deg);
    transform        : rotate(315deg);
  }

  .header__hamburger.active span:nth-child(2),
  .header__hamburger.active span:nth-child(3) {
    top: 19px;
    /* background : #fff; */
    -webkit-transform: rotate(-315deg);
    -moz-transform   : rotate(-315deg);
    transform        : rotate(-315deg);
  }

  header__nav.header_nav {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  header__nav.nav__list {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  header__nav.nav__list__item {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  header__nav.nav__list__item:last-child {
    padding-bottom: 0;
  }
  /* header__nav.nav__list__item:hover{
    background :#ddd;
  } */

  header__nav.nav__list__item a {
    display: block;
    padding: 1em 0;
    text-decoration :none;
  }

  header__nav.header_nav.active {
    opacity: 100;

  }

  a:hover,
  a:active{
    text-decoration: none;
  }

  /* main__mv */
  .hero-area {
    /* max-width:  900px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }


  /* main__section-intro */

  .intro__message strong {
    font-weight: 100;
    color: cornflowerblue;
  }

  .service__list {
    flex-wrap: wrap;
  }

  .service__list__item {
    display: inline-block;
    width: 50%;
  }

  .service__list__item__heading {
    font-weight: bold;
    position: relative;
    padding-top: 6rem;
  }

  .service__list__item__heading::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 4rem;
    height: 4rem;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .service__list__item__heading-solutions::before {
    border: 3px solid #feb902;
    background-image: url("../img/icons/lightbulb.png");
  }

  .service__list__item__heading-photo::before {
    border: 3px solid #25c389;
    color: green;
    background-image: url("../img/icons/picture.png");
  }


  .service__list__item__heading-dev::before {
    border: 3px solid #e7615e;
    color: pink;
    background-image: url("../img/icons/gear.png");
  }

  .service__list__item__heading-design::before {
    border: 3px solid #1fa8d4;
    color: blue;
    background-image: url("../img/icons/pen.png");
  }


/* Small only */
@media screen and (max-width: 700px) {
  .main__section {
    max-width: 400px;
  }
  .show-for-large {
    display: none;
  }
  .service__list__item {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    width: 100%;
    margin: 0 auto;
  }
  .service__list__item__heading {
    padding: 0 0 0 20px;
  }
  .service__list__item__heading,
  .service__list__item__desc {
    text-align: left;
  }
  .service__list__item__heading::before {
    top: 0;
    left: -40px;
  }
  .service__list__item__desc {
    padding-top: 5px;
  }
}

/* Medium and up */
@media screen and (min-width: 701px) {
  .page__header {
    height: 100px;
  }
  .show-for-small-only {
    display: none;
  }
  .hero-area img,
  .main__section,
  .footer__body {
    max-width: 400px;
  }
}

/* Medium only */
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .hero-area img,
  .main__section,
  .footer__body {
    max-width: 860px;
  }
}

/* Large and up */
@media screen and (min-width: 12001px) {
  .page__header {
    height: 115px;
  }
  .hero-area img,
  .main__section,
  .footer__body {
    max-width: 1200px;
  }  
}






 /* ==========================================================================
     Author's custom styles 2
     ========================================================================== */
     .section__heading {
       font-weight: 100;
       font-size: 2rem;
       color: rgb(73, 73, 73);
       margin-bottom: 0;
       margin-top: 3rem;
     }

     .heading__desc {
      color: rgb(163, 163, 163);
      margin-bottom: 2rem;
    }

     .blog__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      }
  
    .blog__list__item {
      display: block;
      margin: 1rem;
      position: relative;
    }

    .blog__list__item-date {
      position: absolute;
      top: 0;
      left: 0;
      background: #d8605f;
      color: white;
      padding: 0px 20px;
    }

    .blog__list__decs {
      position: absolute;
      bottom: 0;
      background: #19b2de;
      color: white;
      width: 100%;
    }

/* <our latest projects> section  */
  .latestProject__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .latestProject__list__item {
    display: inline-block;
    width: calc(90% / 3);
    position: relative;
    padding-top: 2rem;
  }

  .latestProject__list__desc {
    position: absolute;
    background: #29aed6;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    color: white;
  
  }

  .latestProject__list__link {
    position: relative;
  }

  .latestProject__list__desc > h4, 
  .latestProject__list__desc > p {
    position: absolute;
    bottom: 0;
    margin-left: 1rem;
    height: auto;
  }
  
  .latestProject__list__desc > h4 {
    margin-bottom: 3rem;
  }
  /* main__section-demo */

  .demo__content__list {
    display: flex;
    flex-direction: row;
    
  }

  .demo__content__list__item {
    padding: 1rem;
  }

  /* page__footer */

  .page__footer {
    background-color: rgb(22, 36, 47);
    color: white;
  }

  .footer__block {
    display: flex;
    flex:1;
  }

  .block-header__photo {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
  }

  .block-header__img {
    grid-column: 1 / span 1;
    grid-row: 1 / span2;
  }

  .block-header__desc {
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
  }

  .footer__block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .footer__block-content__box {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

.box-about__nav > a {
  width: auto;
  display: inline;
}
.box-about__nav > a > img {
  width: auto;
  display: inline;
}

.box-flickr__list__item > img{
   display: inline;
   width: auto;
   margin: 5px;
 }

.footer__block-content__box-flickr > ul {
  display: inherit;
  padding: 0;
}


.treets__icon {
  float: left;
}

.treets__content__link {
  color: #19b2de;
  text-decoration: none;
  font-weight: bold;
}

 .treets__icon__img{
   width:auto;
 }

 .box-newsLetter__email {
   width: 100%;
 }

 .box-newsLetter__email__input {
   background-color: rgb(222, 98, 98);
   margin: 0;
   padding: 1rem;
   width: 70%;
   border-style: none;
 }

 ::placeholder {
  color:white;
}

.box-newsLetter__email__button {
  background-color: rgb(255, 185, 1);
  padding: 1em;
  width: 20%;
  border-style: none;
}




  /* ==========================================================================
     Helper classes
     ========================================================================== */

  /*
   * Hide visually and from screen readers
   */

  .hidden,
  [hidden] {
    display: none !important;
  }

  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
   * Hide visually and from screen readers, but maintain layout
   */

  .invisible {
    visibility: hidden;
  }

  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
